.navigation__login {
    display: flex;
    flex-direction: row;
    list-style: none;

    .navigation-item {
        padding: 0 15px;
        list-style: none;
    }

    .navigation__button span{
        font-weight: bold;
    }
}

header.header {
    flex-direction: row;
}

.navigation__main {
    flex-grow: 1;
}