.pic {
    height: 75px;
    width: 78px;
}

.preloader {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .svg {
        background-image: url("../../assets/svg/spinning-circles.svg");
    }
}